<!--Registration page header to be modified as required-->
<div class="header m-2">
  <a class="nav-icon" tabindex="-1" href="http://localhost:4200/">
    <img src="https://m.media-amazon.com/images/G/01/goodreads/Goodreads-Logo-AuthPortal._CB646706455_.png" alt="Goodreads">
  </a>
</div>

<!--Registration form container-->
<div class="register-form mx-auto col-10 col-md-8 col-lg-3">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form-group m-2">
      <label>Username</label>
      <input
        type="text"
        formControlName="username"
        class="form-control"
        [ngClass]="{ 'is-invalid': submitted && f['username'].errors }"
      />
      <div *ngIf="submitted && f['username'].errors" class="invalid-feedback">
        <div *ngIf="f['username'].errors['required']">Username is required</div>
      </div>
    </div>

    <div class="form-group m-2">
      <label>Full Name</label>
      <input
        type="text"
        formControlName="fullName"
        class="form-control"
        [ngClass]="{ 'is-invalid': submitted && f['fullName'].errors }"
      />
      <div *ngIf="submitted && f['fullName'].errors" class="invalid-feedback">
        <div *ngIf="f['fullName'].errors['required']">Full name is required</div>
      </div>
    </div>

    <div class="form-group m-2">
      <label>Email</label>
      <input
        type="text"
        formControlName="email"
        class="form-control"
        [ngClass]="{ 'is-invalid': submitted && f['email'].errors }"
      />
      <div *ngIf="submitted && f['email'].errors" class="invalid-feedback">
        <div *ngIf="f['email'].errors['required']">Email is required</div>
        <div *ngIf="f['email'].errors['email']">Email is invalid</div>
      </div>
    </div>

    <div class="form-group m-2">
      <label>Password</label>
      <input
        type="password"
        formControlName="password"
        class="form-control"
        [ngClass]="{ 'is-invalid': submitted && f['password'].errors }"
      />
      <div *ngIf="submitted && f['password'].errors" class="invalid-feedback">
        <div *ngIf="f['password'].errors['required']">Password is required</div>
        <div *ngIf="f['password'].errors['minlength']">
          Password must be at least 6 characters
        </div>
        <div *ngIf="f['password'].errors['maxlength']">
          Password must not exceed 40 characters
        </div>
      </div>
    </div>

    <div class="form-group m-2">
      <label>Confirm Password</label>
      <input
        type="password"
        formControlName="confirmPassword"
        class="form-control"
        [ngClass]="{ 'is-invalid': submitted && f['confirmPassword'].errors }"
      />
      <div
        *ngIf="submitted && f['confirmPassword'].errors"
        class="invalid-feedback"
      >
        <div *ngIf="f['confirmPassword'].errors['required']">
          Confirm Password is required
        </div>
        <div *ngIf="f['confirmPassword'].errors['matching']">
          Confirm Password does not match
        </div>
      </div>
    </div>

    <div class="form-group m-2">
      <button type="submit" class="btn btn-dark">Register</button>

      <button
        type="button"
        (click)="onReset()"
        class="btn btn-light float-right"
      >
        Reset
      </button>
    </div>

    <div class="alert alert-success" *ngIf="isSuccessful">
      Your registration is successful!
    </div>

    <div class="alert alert-warning" *ngIf="isSignUpFailed">
      Signup failed!<br />{{ errorMessage }}
    </div>

  </form>
</div>

<!--Legal text information-->
<div id="legalTextRow" class="a-row a-spacing-top-medium a-size-small">
  By creating an account, you agree to the Goodreads <a href="https://www.goodreads.com/about/terms">Terms of Service</a> and <a href="https://www.goodreads.com/about/privacy">Privacy Policy</a>
</div>

<!--Footer sign in option-->
<div class="footer">
  Already have an account?
  <a class="a-link-emphasis" href="http://localhost:4200/sign_in">
    Sign in
  </a>
</div>




