<!--Sign-in page header to be modified as required-->
<div class="header m-2">
  <a class="nav-icon" tabindex="-1" href="http://localhost:4200/">
    <img src="https://m.media-amazon.com/images/G/01/goodreads/Goodreads-Logo-AuthPortal._CB646706455_.png" alt="Goodreads">
  </a>
</div>

<!--Profile picture
<div class="login-form col-md-2">
  <div class="card card-container">
    <img
      id="profile-img"
      src="//ssl.gstatic.com/accounts/ui/avatar_2x.png"
      class="profile-img-card"
    />-->
    <!--Sing-in form container-->
    <div class="sign-in-form mx-auto col-10 col-md-8 col-lg-3">
      <form *ngIf="!isLoggedIn" [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="form-group m-2">
          <label>Username</label>
          <input
            type="text"
            formControlName="username"
            class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f['username'].errors }"
          />
          <div *ngIf="submitted && f['username'].errors" class="invalid-feedback">
            <div *ngIf="f['username'].errors['required']">Username is required</div>
          </div>
        </div>

        <div class="form-group m-2">
          <label>Password</label>
          <input
            type="password"
            formControlName="password"
            class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f['password'].errors }"
          />
          <div *ngIf="submitted && f['password'].errors" class="invalid-feedback">
            <div *ngIf="f['password'].errors['required']">Password is required</div>
          </div>
        </div>
        <!--Buttons definition-->
        <div class="form-group m-2">
          <button type="submit" class="btn btn-dark">Login</button>
        </div>
        <!--Login failed notification-->
        <div class="form-group">
          <div *ngIf="f['submitted'] && isLoginFailed" class="alert alert-danger" role="alert">
            <!--Catch Http response and send a message-->
            Login failed: {{ errorMessage }}
          </div>
       </div>
      </form>
    </div>
    <!--Logged in as notification-->
    <div class="alert alert-success" *ngIf="isLoggedIn">
    Logged in as {{ roles }}.
    </div>

    <!--Footer sign in option-->
    <div class="footer">
      Not a member?
      <a class="a-link-emphasis" href="http://localhost:4200/register">
        Sign up
      </a>
    </div>
